<p>klinika works!</p>

<div *ngIf="klinika">

  <table class="table table-dark bg-success ">
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Ocena</th>
        <th>Ulica</th>
        <th>Broj ulice</th>
        <th>Grad</th>
        <th>Drzava</th>
        <th>Opis</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{klinika.naziv}}</td>
        <td>{{klinika.ocenaKlinike}}</td>
        <td>{{klinika.ulica}}</td>
        <td>{{klinika.brojUlice}}</td>
        <td>{{klinika.grad}}</td>
        <td>{{klinika.drzava}}</td>
        <td>{{klinika.opis}}</td>
      </tr>
      <tr>
        <td colspan="7" align="left">
          <!-- <button  class="btn btn-success">Zakazi pregled u {{klinika.naziv}}</button> -->

          <!-- <a href="/lekarlist?animal=krompir">
            <button class="btn btn-success">Zakazi pregled u xxxxxxxxxxxxxxxx{{klinika.naziv}}</button>
          </a>
           -->
          <form name="form" (ngSubmit)="onThisSubmit()" #f="ngForm">

            <div class="form-group">
              <button class="btn btn-success">Zakazi pregled u {{klinika.naziv}}</button>
            </div>
          </form>

        </td>
      </tr>
    </tbody>
  </table>





  <hr />
</div>