<p>operacija-list works!</p>

<div *ngIf="isPacijent(); else loggedOut">

    <div *ngIf="isPriazIstorijaOperacija; else zakazaneOperacijeTempalte">
        <button class="btn btn-success" (click)="onChangePrikaz()">Istorija operacija</button>

        <br>
        <h3>Moja istorija operacija</h3>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Specijalaizacija</th>
                    <th scope="col">ocenaLekara</th>
                    <th scope="col">ocenaKilinike</th>
                    <th></th>
                    <!-- <th></th> -->
                </tr>
            </thead>

            <tbody *ngFor="let operacija of operacije | async; let i = index;">


                <tr class="info">
                    <th scope="row">{{i+1}}</th>
                    <td>{{operacija.vremePocetka}}</td>
                    <td></td>
                    <!-- <td *ngIf="isOcenjenLekar(operacija)">{{operacija.ocenaLekara}}</td>
                    <td *ngIf="!isOcenjenLekar(operacija)">

                        <select name="oceneLekara[{{i}}]" [(ngModel)]="oceneLekara[i]"
                            (change)="onOcenaLekaraChange($event.target.value,[i])">

                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                            <option [value]="5">5</option>
                        </select>


                    </td> -->
                    <!-- <td *ngIf="isOcenjenaKlinika(operacija)">{{operacija.ocenaKilinike}}</td>
                    <td *ngIf="!isOcenjenaKlinika(operacija)">

                        <select name="oceneKlinia[{{i}}]" [(ngModel)]="oceneKlinia[i]"
                            (change)="onOcenaKlinikeChange($event.target.value,[i])">

                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                            <option [value]="5">5</option>
                        </select>

                    </td> -->
<!-- 
                    <td *ngIf="!isOcenjenLekar(operacija)">
                        <button class="btn btn-info" [disabled]="!isOcenaLekar[i]"
                            (click)="onOceniLekara(operacija,oceneLekara[i])">Oceni Lekara</button>
                    </td>
                    <td *ngIf="isOcenjenLekar(operacija)"></td>

                    <td *ngIf="!isOcenjenaKlinika(operacija)">
                        <button class="btn btn-info" [disabled]="!isOcenaKlina[i]"
                            (click)="onOceniKliniku(operacija,oceneKlinia[i])">Oceni Kliniku</button>
                    </td>
                    <td *ngIf="isOcenjenaKlinika(operacija)"></td> -->
                </tr>


            </tbody>

        </table>

    </div>

    <ng-template #zakazaneOperacijeTempalte>
        <button class="btn btn-success" (click)="onChangePrikaz()">Zakazane operacije</button>

        <h3>Moje zakazane operacije</h3>
        <table class="table table-dark">
              <thead>
                    <tr>
                          <th scope="col">#</th>
                          <th scope="col">Datum</th>
                          <th scope="col">Specijalaizacija</th>
                          <th scope="col">ocenaLekara</th>
                          <th scope="col">ocenaKilinike</th>

                    </tr>
              </thead>

              <tbody *ngFor="let operacija of operacijeZakazane | async; let i = index;">


                    <tr class="info">
                          <th scope="row">{{i+1}}</th>
                          <td>{{operacija.vremePocetka}}</td>
                          <td></td>
                          <td>{{operacija.ocenaLekara}}</td>
                          <td>{{operacija.ocenaKilinike}}</td>

                    </tr>

              </tbody>

        </table>

  </ng-template>



</div>

<ng-template #loggedOut>
    Please login.

    <!-- <strong>Username:</strong> {{info.username}}<br />
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}. <br />
    <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
    <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>