<!-- <p>klinika-list works!</p>


<div *ngFor="let klinika of klinike | async" style="width: 300px;">
  <app-klinika [klinika]='klinika'></app-klinika>
</div>

 -->


<!-- <div *ngIf="authority != 'pacijent'" ; else loggedOut"> -->

<div *ngIf="isPacijent(); else loggedOut">

  <h1>TESTING</h1>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="form-group">
      <label for="spec">Specijalizacija:</label>
      <select class="form-control" name="spec" [(ngModel)]="form.spec" #spec="ngModel">

        <option *ngFor="let s of specs " [value]="s.name" [selected]="true" ng-selected="true">
          {{s.name}}
        </option>

      </select>
      <!-- <div *ngIf="spec.errors.required">Email is required</div> -->
    </div>

    <!-- <div class="form-group">
    <label for="date">date</label>
    <input id="date" name="date" [(ngModel)]="form.date"
            type="text" bsDatepicker class="form-control" />
  </div>

 -->
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker name=date [(ngModel)]="form.date"
          #name="ngModel" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'  }">
      </div>

    </div>

    <div class="form-group">
      <button class="btn btn-primary">Pretrazi</button>

    </div>
  </form>

  <div *ngFor="let klinika of klinike | async" style="width: 300px;">

    <app-klinika [klinika]='klinika' [klinikaFilter]='klinikaFilter'></app-klinika>



  </div>


</div>

<ng-template #loggedOut>
  Please login.

  <!-- <strong>Username:</strong> {{info.username}}<br />
  <strong>Roles:</strong> {{info.authorities}}<br />
  <strong>Token:</strong> {{info.token}}. <br />
  <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
  <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>