<!-- <p>klinika-list works!</p> -->


<div *ngIf="isPacijent(); else loggedOut">

  <h1>TESTING</h1>


  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" required>

    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
        <div class="input-group">
          <label for="spec">Specijalizacija:</label>
          <select class="form-control" name="spec" [(ngModel)]="form.spec" #spec="ngModel" required>

            <option *ngFor="let s of specs " [value]="s.name" [selected]="true" ng-selected="true">
              {{s.name}}
            </option>
          </select>
          <div *ngIf="f.submitted && spec.invalid">
            <div *ngIf="spec.errors.required">Specijalizacija is required</div>
          </div>

        </div>

      </div>


      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
        <div class="input-group">
          <!-- <div class="col-xs-12 col-12 col-md-4 form-group"> -->
          <label for="date">Datum:</label>
          <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker name=date
            [(ngModel)]="form.date" [minDate]="minDate" readonly #date="ngModel" required
            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'  }">
          <!-- </div> -->
          <div *ngIf="f.submitted && date.invalid">
            <div *ngIf="date.errors.required">Date is required</div>
          </div>

        </div>

      </div><!-- /col-xs-2 co -->

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <div class="input-group">
          <label for="lokacija">Lokacija:</label>
          <input type="text" class="form-control" name="lokacija" [(ngModel)]="form.lokacija" #lokacija="ngModel" />
        </div>
      </div>


      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <div class="input-group">
          <label for="ocenaMIN">Ocena min:</label>
          <input type="number" min="1" max="5"  class="form-control" name="ocenaMIN" [(ngModel)]="form.ocenaMIN" #ocenaMIN="ngModel"
            onKeyUp="if(this.value>5){this.value='5';}else if(this.value<1){this.value='1';} else if(this.value.length>=2){this.value='0'}">
        </div>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <div class="input-group">
          <label for="ocenaMAX">Ocena max: </label>
          <input type="number" class="form-control" name="ocenaMAX" [(ngModel)]="form.ocenaMAX" #lokacija="ngModel" min="1" max="5" 
          onKeyUp="if(this.value>5){this.value='5';}else if(this.value<1){this.value='1';} else if(this.value.length>=2){this.value='0'}">
        </div>
      </div>
    </div><!-- /.row -->
    <br>
    <div class="form-group">
      <button class="btn btn-primary">Pretrazi</button>

    </div>
  </form>



  <!-- <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="...">
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="...">
      </div>
    </div>
  </div> -->


  <div *ngFor="let klinika of klinike | async" style="width: 300px;">

    <app-klinika [klinika]='klinika' [klinikaFilter]='klinikaFilter'></app-klinika>



  </div>


</div>

<ng-template #loggedOut>
  Please login.

  <!-- <strong>Username:</strong> {{info.username}}<br />
  <strong>Roles:</strong> {{info.authorities}}<br />
  <strong>Token:</strong> {{info.token}}. <br />
  <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
  <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>