<!-- <p>pacijent works!</p> -->

<div *ngIf="korisnik; else noInfo">
    <!-- <div> -->

    <div *ngIf="!updatePacijent; else updatePacijentTemplate">

        <!-- <a href="pacijentupdate" class="btn btn-success">Update your information</a> -->
        <button class="btn btn-success" (click)="onUpdatePacijent()">Promenite svoje podatke</button>

        <button (click)="onGoToKarton()" class="btn btn-info">Moj Karton</button>
        <button class="btn btn-info" (click)="onToGoToKlinikaList()"> Klinike </button> 
        <button class="btn btn-info" (click)="onToGoToPregledi()"> Istorija pregleda </button> 
        <button class="btn btn-info" (click)="onToGoToOperacije()"> Istorija operacija </button> 
<br> <br>
        <p>Ime: {{korisnik.ime}}</p>
        <p>Prezime: {{korisnik.prezime}}</p>
        <p>Ulica: {{korisnik.ulica}}</p>
        <p>Broj ulice: {{korisnik.brojUlice}}</p>
        <p>Grad: {{korisnik.grad}}</p>
        <p>Drzava: {{korisnik.drzava}}</p>
        <p>Telefon: {{korisnik.brojTelefona}}</p>
        <p>JMBG: {{korisnik.jmbg}}</p>
        <p>Email: {{korisnik.email}}</p>



    </div>
    <ng-template #updatePacijentTemplate>
        <p><button class="btn btn-success" (click)="onUpdatePacijent()">back</button></p>
        <app-pacijent-update [korisnik]='korisnik'></app-pacijent-update>

    </ng-template>
</div>




<ng-template #noInfo>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</ng-template>