<!-- <p>lekar-list works!</p> -->

<!-- <p>{{lekarFilter.spec}}</p>
<p>{{lekarFilter.date}}</p> -->

<div *ngIf="isPacijent(); else loggedOut">
  <div *ngIf="!isRezervise; else rezervise">

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" required>

      <div class="form-group">
        <label for="spec">Specijalizacija:</label>
        <select class="form-control" name="spec" [(ngModel)]="form.spec" #spec="ngModel" required>

          <option *ngFor="let s of specs " [value]="s.name" [selected]="true" ng-selected="true">
            {{s.name}}
          </option>
        </select>
        <div *ngIf="f.submitted && spec.invalid">
          <div *ngIf="spec.errors.required">Specijalizacija is required</div>
        </div>

      </div>

      <div class="form-group">
        <!-- <div class="col-xs-12 col-12 col-md-4 form-group"> -->
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker name=date [(ngModel)]="form.date"
          [minDate]="minDate" readonly #date="ngModel" required [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'  }">
        <!-- </div> -->
        <div *ngIf="f.submitted && date.invalid">
          <div *ngIf="date.errors.required">Date is required</div>
        </div>

      </div>

      <div class="form-group">
        <button class="btn btn-primary">Pretrazi</button>

      </div>
    </form>





    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ime</th>
          <th scope="col">Prezime</th>
          <th scope="col">Specijalaizacija</th>
          <th scope="col">Klinika</th>
          <th scope="col">Ocena Lekar</th>
          <th scope="col">Cena</th>
          <th scope=col>Vreme od &nbsp; &nbsp; do</th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngFor="let lekar of lekari | async; let i = index;">


        <tr class="info">
          <th scope="row">0</th>
          <td class="table-secondar">{{lekar.ime}}</td>
          <td>{{lekar.prezime}}</td>
          <td>{{lekar.specijalizacija}}</td>
          <td>{{lekar.klinikaNaziv}}</td>
          <td>{{lekar.ocenaLekar}}</td>
          <td>{{lekar.cena}}</td>
          <td>

            <select name="moguciTermniList[{{i}}]" [(ngModel)]="moguciTermniList[i]"
              (change)="onTerminChange($event.target.value,[i])">

              <option *ngFor="let termin of lekar.slobodniTermini " [value]="termin">
                {{termin}}
              </option>
            </select>
            <!-- {{lekar.zzzzz}} -->


          </td>
          <td> <button class="btn btn-info" (click)="onPredjiNaRezervisiLekar(lekar,moguciTermniList[i])"
              [disabled]="!isBtnDisabled[i]">Zakazi</button> </td>
        </tr>


      </tbody>

    </table>

  </div>
  <ng-template #rezervise>


    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-info">
          Lekar:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.ime}} {{zaRezervisanje.izabraniLekar.ime}}</span>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 t=">
          Specijalizacija:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.specijalizacija}} </span>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-info">
          Termin:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> {{zaRezervisanje.izabraniTermin}} </span>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
          Klinika:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.klinikaNaziv}} </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 bg-info">
          Lokacija:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> STAVI U DTO LOKACIJU </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <span class="pull-left"> Ocena Lekara: </span>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.ocenaLekar}}</span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  bg-info">
          Cena:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.cena}} </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
          Ocena Klinike:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.ocenaKlinike}} </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  bg-info">
          Drzava:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.klinikaDrzava}} </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  ">
          Grad:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.klinikaGrad}} </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  bg-info">
          Ulica:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 bg-info">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.klinikaUlica}} </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2  ">
          Broj Ulice:
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <span class="pull-left"> {{zaRezervisanje.izabraniLekar.klinikaBrojUlice}} </span>
        </div>
      </div>
    </div>
    <br>
    <br>
      <p class="bg-warning">Posle zakazivanja na mail dobijate potvrdu o zakazivanju koju mozete da potvrdite ili odbijete </p>
        <button class="btn btn-info col-xs-3 col-sm-3 col-md-3 col-lg-3"  (click)="onRezervisiLekara()"> Zakazi </button>


  </ng-template>


  <!-- koristicemo table umesto komponente -->
  <!-- <div *ngFor="let lekar of lekari | async" style="width: 300px;">
      <app-lekar [lekar]='lekar'></app-lekar>

</div> -->


</div>

<ng-template #loggedOut>
  Please login.

  <!-- <strong>Username:</strong> {{info.username}}<br />
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}. <br />
      <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
      <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>