<div *ngIf="isPacijent(); else loggedOut">


      <div *ngIf="isPriazIstorijaPregleda; else zakazaniPreglediTempalte">
            <button class="btn btn-success" (click)="onChangePrikaz()">Istorija pregleda</button>
            <br>
            <h3>Moja istorija pregleda</h3>
            <table class="table table-dark">
                  <thead>
                        <tr>
                              <th scope="col">#</th>
                              <th scope="col">Datum</th>
                              <th scope="col">Lekar</th>
                              <th scope="col">Klinika</th>
                              <th scope="col">Dijagnoza</th>
                              <th scope="col">Specijalaizacija</th>
                              <th scope="col">Ocena lekara</th>
                              <th scope="col">Ocenak ilinike</th>
                              <th></th>
                              <!-- <th></th> -->
                        </tr>
                  </thead>

                  <tbody *ngFor="let pregled of pregledi | async; let i = index;">


                        <tr class="info">
                              <th scope="row">{{i+1}}</th>
                              <td>{{pregled.vremePocetka}}</td>
                              <td>{{pregled.imeLekara}} {{pregled.prezimeLekara}}</td>
                              <td>{{pregled.nazivKlinike}}</td>
                              <td>{{pregled.dijagnoza}}</td>
                              <td>{{pregled.specijalizacija}}</td>

                              <td *ngIf="isOcenjenLekar(pregled)">{{pregled.ocenaLekara}}</td>
                              <td *ngIf="!isOcenjenLekar(pregled)">

                                    <select name="oceneLekara[{{i}}]" [(ngModel)]="oceneLekara[i]"
                                          (change)="onOcenaLekaraChange($event.target.value,[i])">

                                          <option [value]="1">1</option>
                                          <option [value]="2">2</option>
                                          <option [value]="3">3</option>
                                          <option [value]="4">4</option>
                                          <option [value]="5">5</option>
                                    </select>


                              </td>
                              <td *ngIf="isOcenjenaKlinika(pregled)">{{pregled.ocenaKilinike}}</td>
                              <td *ngIf="!isOcenjenaKlinika(pregled)">

                                    <select name="oceneKlinia[{{i}}]" [(ngModel)]="oceneKlinia[i]"
                                          (change)="onOcenaKlinikeChange($event.target.value,[i])">

                                          <option [value]="1">1</option>
                                          <option [value]="2">2</option>
                                          <option [value]="3">3</option>
                                          <option [value]="4">4</option>
                                          <option [value]="5">5</option>
                                    </select>

                              </td>

                              <td *ngIf="!isOcenjenLekar(pregled)">
                                    <button class="btn btn-info" [disabled]="!isOcenaLekar[i]"
                                          (click)="onOceniLekara(pregled,oceneLekara[i])">Oceni Lekara</button>
                              </td>
                              <td *ngIf="isOcenjenLekar(pregled)"></td>

                              <td *ngIf="!isOcenjenaKlinika(pregled)">
                                    <button class="btn btn-info" [disabled]="!isOcenaKlina[i]"
                                          (click)="onOceniKliniku(pregled,oceneKlinia[i])">Oceni Kliniku</button>
                              </td>
                              <td *ngIf="isOcenjenaKlinika(pregled)"></td>
                        </tr>


                  </tbody>

            </table>
      </div>
      <ng-template #zakazaniPreglediTempalte>
            <button class="btn btn-success" (click)="onChangePrikaz()">Zakazani pregledi</button>

            <h3>Moji zakazani pregledi</h3>
            <table class="table table-dark">
                  <thead>
                        <tr>
                              <th scope="col">#</th>
                              <th scope="col">Datum</th>
                              <th scope="col">Lekar </th>
                              <th scope="col">Specijalaizacija</th>
                              <th scope="col">Klinika</th>
                              <th scope="col">Lokacija</th>
                              <th></th>
                              <!-- <th></th> -->
                        </tr>
                  </thead>

                  <tbody *ngFor="let pregled of preglediZakazani | async; let i = index;">


                        <tr class="info">
                              <th scope="row">{{i+1}}</th>
                              <td>{{pregled.vremePocetka}}</td>
                              <td>{{pregled.imeLekara}} {{pregled.prezimeLekara}}</td>
                              <td>{{pregled.specijalizacija}}</td>
                              <td>{{pregled.nazivKlinike}}</td>
                              <td>{{pregled.gradKlionike}} {{pregled.ulicaKlinike}} {{pregled.brojUliceKlinike}}</td>
                              <td><button class="btn btn-info" (click)="onOtkaziPregled(pregled)">Odkazi
                                          pregled</button>

                        </tr>

                  </tbody>

            </table>

      </ng-template>

</div>

<ng-template #loggedOut>
      Please login.

      <!-- <strong>Username:</strong> {{info.username}}<br />
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}. <br />
      <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
      <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>