<div *ngIf="isPacijent(); else loggedOut">
     

      <div *ngIf="isPriazIstorijaPregleda; else zakazaniPreglediTempalte">
            <button class="btn btn-success" (click)="onChangePrikaz()">Istorija pregleda</button>
            <br>
            <h3>Moja istorija pregleda</h3>
            <table class="table table-dark">
                  <thead>
                        <tr>
                              <th scope="col">#</th>
                              <th scope="col">Datum</th>
                              <th scope="col">Specijalaizacija</th>
                              <th scope="col">ocenaLekara</th>
                              <th scope="col">ocenaKilinike</th>
                              <th></th>
                              <!-- <th></th> -->
                        </tr>
                  </thead>

                  <tbody *ngFor="let pregled of pregledi | async; let i = index;">


                        <tr class="info">
                              <th scope="row">{{i+1}}</th>
                              <td>{{pregled.vremePocetka}}</td>
                              <td></td>
                              <td *ngIf="isOcenjenLekar(pregled)"  >{{pregled.ocenaLekara}}</td>
                              <td *ngIf="!isOcenjenLekar(pregled)">

                                    <select name="oceneLekara[{{i}}]" [(ngModel)]="oceneLekara[i]">
                       
                                     <option  [value]="1">1</option>
                                     <option  [value]="2">2</option>
                                     <option  [value]="3">3</option>
                                     <option  [value]="4">4</option>
                                     <option  [value]="5">5</option>
                                   </select>


                              </td>
                              <td *ngIf="isOcenjenaKlinika(pregled)">{{pregled.ocenaKilinike}}</td>
                              <td *ngIf="!isOcenjenaKlinika(pregled)">

                                    <select name="oceneKlinia[{{i}}]" [(ngModel)]="oceneKlinia[i]">
                       
                                          <option  [value]="1">1</option>
                                          <option  [value]="2">2</option>
                                          <option  [value]="3">3</option>
                                          <option  [value]="4">4</option>
                                          <option  [value]="5">5</option>
                                        </select>

                              </td>

                              <td *ngIf="!isOcenjenLekar(pregled)"  (click)="onOceniLekara(pregled,oceneLekara[i])"><button class="btn btn-info">Oceni Lekara</button>
                              </td>
                              <td  *ngIf="isOcenjenLekar(pregled)"></td>

                              <td *ngIf="!isOcenjenaKlinika(pregled)" (click)="onOceniKliniku(pregled,oceneKlinia[i])"><button class="btn btn-info">Oceni Kliniku</button>
                              </td>
                              <td *ngIf="isOcenjenaKlinika(pregled)"></td>
                        </tr>


                  </tbody>

            </table>
      </div>
      <ng-template #zakazaniPreglediTempalte>
            <button class="btn btn-success" (click)="onChangePrikaz()">Zakazani pregledi</button>
            
            <h3>Moji zakazani pregledi</h3>
            <table class="table table-dark">
                  <thead>
                        <tr>
                              <th scope="col">#</th>
                              <th scope="col">Datum</th>
                              <th scope="col">Specijalaizacija</th>
                              <th scope="col">ocenaLekara</th>
                              <th scope="col">ocenaKilinike</th>
                              <th></th>
                              <!-- <th></th> -->
                        </tr>
                  </thead>

                  <tbody *ngFor="let pregled of preglediZakazani | async; let i = index;">


                        <tr class="info">
                              <th scope="row">{{i+1}}</th>
                              <td>{{pregled.vremePocetka}}</td>
                              <td></td>
                              <td>{{pregled.ocenaLekara}}</td>
                              <td>{{pregled.ocenaKilinike}}</td>
                              <td ><button class="btn btn-info" (click)="onOtkaziPregled(pregled)">Odkazi pregled</button>
                              
                        </tr>

                  </tbody>

            </table>
            
        </ng-template>

</div>

<ng-template #loggedOut>
      Please login.

      <!-- <strong>Username:</strong> {{info.username}}<br />
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}. <br />
      <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
      <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>