<!-- <p>karton works!</p> -->

<div *ngIf="isPacijent(); else loggedOut">

  <p>Visina: {{karton.visina}} cm</p>
  <p>Tezina: {{karton.tezina}} kg</p>
  <p>Krvna grupa: {{karton.krvnaGrupa}}</p>
  <br>

  <table class="table table-dark">
    <thead>
      <tr >
        <th scope="col">Alergije</th>
      </tr>
      <tr class="warning">
        <th scope="col">#</th>
        <th scope="col">Naziv leka</th>
        
      </tr>
    </thead>
    <tbody *ngFor="let a of alergije | async; let i = index;">
      <tr class="warning">
        <th scope="row">{{i+1}}</th>
        <td>{{a.naziv}}</td>

      </tr>
    </tbody>
  </table>



  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Istorija bolesti</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazi bolesti</th>
        <th scope="col">Datum </th>
      </tr>
    </thead>
    <tbody *ngFor="let PIB of pregledIstorijaBolesti | async; let i = index;">
      <tr >
        <th scope="row">{{i+1}}</th>
        <td>{{PIB.vremePocetka}}</td>
        <td>{{PIB.dijagnoza}}</td>
      </tr>
    </tbody>
  </table>

  <!-- <h3>Moja istorija pregleda</h3> -->
  <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Posete lekaru</th>
          </tr>
              <tr class="info">
                    <th scope="col">#</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Lekar</th>
                    <th scope="col">Klinika</th>
                    <th scope="col">Dijagnoza</th>
                    <th scope="col">Specijalaizacija</th>

              </tr>
        </thead>

        <tbody *ngFor="let pregled of sviPregledi | async; let i = index;">


              <tr class="info">
                    <th scope="row">{{i+1}}</th>
                    <td>{{pregled.vremePocetka}}</td>
                    <td>{{pregled.imeLekara}} {{pregled.prezimeLekara}}</td>
                    <td>{{pregled.nazivKlinike}}</td>
                    <td>{{pregled.dijagnoza}}</td>
                    <td>{{pregled.specijalizacija}}</td>

                   


        </tbody>

  </table>


  
</div>


<ng-template #loggedOut>
  Please login.

  <!-- <strong>Username:</strong> {{info.username}}<br />
    <strong>Roles:</strong> {{info.authorities}}<br />
    <strong>Token:</strong> {{info.token}}. <br />
    <strong>IdKorisnik:</strong> {{info.idKorisnik}}. <br />
    <strong>Authorities</strong> "{{info.authorities}}"" -->

</ng-template>