<p>home works!</p>
<div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <!-- <strong>Token:</strong> {{info.token}}. -->
    </p>
<br>
<br>
<button class="btn btn-secondary" (click)="logout()">Logout</button>
    
<app-pacijent [korisnik]='korisnik | async' ></app-pacijent>
   

  </div>

  
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>




  <div class="container">
    <br />
    <div class="row">
      <div class='col-sm-3'>
        <div class="form-group">
          <div id="filterDate2">
            
            <!-- Datepicker as text field -->         
            <div class="input-group date" data-date-format="dd.mm.yyyy">
              <input  type="text" class="form-control" placeholder="dd.mm.yyyy">
              <div class="input-group-addon" >
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            
          </div>    
        </div>
      </div>
    </div>
  </div>